<footer class="bd-footer py-5 mt-5 bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Blog Cursor">
          <span class="fs-5">Blog Cursor</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Your favourite blog.</li>
          <li class="mb-2">Designed and built with love.</li>
          <li class="mb-2">All Rights Reserved.</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/articles">Articles</a></li>
          <li class="mb-2"><a href="/categories">Categories</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>About Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/contacts">Contacts</a></li>
          <li class="mb-2"><a href="/team">Our Team</a></li>
          <li class="mb-2"><a href="/help">Help</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Social Media</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://facebook.com" rel="nofollow noopener" target="_blank">Facebook</a></li>
          <li class="mb-2"><a href="https://instagram.com" rel="nofollow noopener" target="_blank">Instagram</a></li>
          <li class="mb-2"><a href="https://twitter.com" rel="nofollow noopener" target="_blank">Twitter</a></li>
          <li class="mb-2"><a href="https://github.com" rel="nofollow noopener" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>