<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/style.css">
        <title>Homepage</title>
        <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Weather Homepage</h1>
        <div class="form-container">
            <form action="/search" method="POST">
                <h2>Search weather for your city</h2>
                <div class="select-group">
                    <label for="city">Choose your city:</label>
                    <select name="city">
                        <option value="london">London</option>
                        <option value="lviv">Lviv</option>
                        <option value="kiev">Kiev</option>
                        <option value="paris">Paris</option>
                     </select>
                </div>
                <div class="button-list">
                    <button type="submit">Check Weather</button>
                </div>
        </form>
        </div>
        <div id="todoList"></div>


    <script>
        $(document).ready(function() {
            jQuery.ajax({
                method: "GET",
                url: "/todos",
                success: function (data) {
                    console.log(data);
                    $("#todoList").append("<div>" + data[1] + "</div>");
                }
            });
        });
    </script>
    </body>
</html>